[2019-12-13 23:29] nickrsan opened #2 "Translate FFC data to use same metric names as predictions/rest of eflows data"
Need to do some translation to pull the metrics for the FFC - we can do rows for metrics, columns for days, then that will let us collapse the columns into percentiles (or alternatively we can do the reverse and just need to transpose, since metrics as columns, days as rows makes more sense)

[2019-12-13 23:30] nickrsan opened #3 "Calculate percentiles from FFC results"
Once have a data frame of the raw data, we can make percentiles for each metric as opposed to the raw values

[2019-12-13 23:34] nickrsan opened #4 "Paired boxplots of FFC vs predicted data"
Once we have the percentiles, we can plot the FFC vs predicted as boxplots against each other.

[2019-12-13 23:36] nickrsan opened #5 "Make some convenience functions that make a full process chaining together the pieces."
(Eg: start with gage ID and move all the way through, start with data frame and COMID and move all the way through).

[2019-12-13 23:38] nickrsan opened #6 "Convert the FFC API code to be an R6 object"
Under the hood, can have the same functions operate with the class under the hood, but can also run the R6 object itself to make multiple requests.

[2019-12-13 23:39] nickrsan opened #7 "Get COMID for gage"
Need this to support workflows in #5. Gage data comes with lat/lon - we'll pull it for the gage into the object when we first request data, then use nhdR (maybe?) to get the COMID for the gage.

[2019-12-13 23:41] nickrsan commented on #2
Ryan provided this code (relies on tidyverse and purrr) as a starting point:
[code]

[2019-12-13 23:42] nickrsan commented on #2
And here are the translations we worked out from the FFC API to the normal metrics:
[code]
See cws-eflows Slack for additional discussion on how we sorted these out.

[2019-12-14 02:52] nickrsan commented on #7
This is almost done, but the documentation needs work still.

- [ ] gage documentation needs to be handled properly - moving all method comments to proper object documentaton
- [ ] Examples in README and main package documentation need to show how to use the gage code to get the COMID and feed it through the rest - probably worth figuring out what the shortcut functions are going to be before doin

[2019-12-19 22:42] nickrsan commented on #5
Made one for gages, but still need one for someone who has a DF and a COMID or latlong

[2019-12-19 22:44] nickrsan commented on #4
Made, but need

- [x] better formatting and axis elements
- [x] Peak_Tim only shows observed
- [x] Do we want to filter out the 2/5 Peak metrics since we don't have predictions for them?

[2019-12-19 22:45] nickrsan commented on #3
Done. Currently calculating percentiles using quantile method 8 from R. Should verify if that's the best way to generate these values (Ryan?)

- [x] Should we be using a different method to generate the quantiles?
- [ ] Should we be checking to make sure we have enough values for each metric that aren't NA before calculating quantiles for them?

[2019-12-19 22:46] nickrsan commented on #2
- [x] This is done but needs verification.

I'm using the following mapping of FFC names to predicted metric names:
[code]

[2019-12-19 22:47] nickrsan commented on #6
We're currently using an environment to store the token, which is fine, but maybe just making it an R6 object makes more sense? Not sure if it really needs rearchitecting or not though

[2019-12-19 22:51] nickrsan opened #8 "Suppress NA warnings when converting FFC data to data frame"
Currently getting a whole stream of warnings as we convert to a data frame. These are safe and I tried to provide parameters to acknowledge that I knew it was adding NAs, but it didn't get rid of warnings.

[2019-12-19 22:51] nickrsan opened #9 "Add tests!"

[2019-12-19 22:53] nickrsan opened #10 "Package documentation and examples"
The package has some documentation, but needs quite a bit more. Might want to wait to finalize this until we actually have a set of workflows that will be stable APIs and maybe have a class that handles the work. But maybe not - the risk of the R6 class is that items are modified in-place, so we'd need to be careful that the new code doesn't break just from moving it to a class. What we could do i

[2019-12-19 23:30] nickrsan commented on #3
@alyssaobester @ryanpeek A few questions for you when you get a chance.

 Right now, my code generates the 10th/25th/50th/75th/90th percentiles using the `quantile` function in R. It has 9 ways it can do that, and I'm using method 8 (because the documentation recommends it). The documentation on that is here: https://www.rdocumentation.org/packages/stats/versions/3.6.1/topics/quantile - do you kno

[2019-12-20 19:05] ryanpeek commented on #3
Hey all, not sure about the percentiles yet. I think the method used is
fine, I'm not as concerned about that. However, I think there are/will be
discussions about how to treat data that doesn't have many values (like you
mentioned)...for events or counts, should those get NAs or zeros? If there
is no event, I would assume it's a zero, but if relates to something
different (not enough data to calc

[2019-12-20 19:38] nickrsan opened #11 "Boxplot Output Enhancements"
Boxplots need titles, axes, etc. Standard graph stuff

Also, do we want to return the plot objects for modification to the caller?

[2019-12-20 22:23] nickrsan opened #12 "layer 'NHDFlowline' not found in component 'NHDSnapshot' when getting gage COMID"
Ryan reports the following when the gage is trying to determine its COMID:

[code]

I can't reproduce, even manually trying to remove the NHDFlowline layer - I'd thought it was triggered by an incomplete download, but the current version of the code forces redownload and extraction if it doesn't find the right number of items in the NHD package the first time through. Could be Mac-specific or some

[2020-01-06 19:36] nickrsan commented on #4
- [ ] Also add flag on boxplot for values where we may have insufficient data, such as too few years for a peak calculation, rather than removing the calculated metrics, etc

[2020-01-06 19:50] nickrsan opened #14 "Parameters sent to FFC can change based on stream class"
We're using a general set of parameters off the website - they have different parameters based on stream class. We need to figure out if we should use different parameters by stream class (probably not), or if using the general parameters is sufficient. We could *also* try not sending parameters, but then if they change defaults our outputs could change without warning and without knowing what's d

[2020-01-06 19:54] nickrsan opened #15 "Model fall frequency metric (percent of years where flushing flow occurs)"
Not sure how we output this to people, but we can make it available? Maybe we print it out for now and store it as a value somewhere.

Do we want to compare it to a local reference gage? We don't have the modeled data for this, so we could grab it from local reference gage. (Bigger lift to put together separate

Wait to create this until after call - might not need it.

[2020-01-06 22:11] nickrsan opened #16 "Add Month/Day Field for metrics"
Add columns that show month/day for each timing metric based on the water year day column.

[2020-01-06 23:38] nickrsan opened #17 "Small README update to make clear that the "Easy Mode" does plotting"
Make it clearer what happens when you run the "Easy Mode" examples and what plots come out where.

[2020-01-08 03:31] nickrsan opened #18 "get_predicted_flow_metrics still broken"
the flow metrics data isn't available to functions within the package until we call `library(ffcAPIClient)` - this was first raised in the pull request to change the data over to this form, but I thought it'd been resolved. This is a critical issue to fix.

[2020-01-08 17:10] ryanpeek commented on #8
One thing to consider is wrapping this function with `suppressWarnings()`. Not ideal but would help. I'm not sure how to turn these off within the function, and in looking at the function itself I actually don't see where `data.table::rbindlist()` is being called?

[2020-01-08 17:23] ryanpeek commented on #8
and interestingly, when I timed these, running with suppressWarnings significantly improved the speed of the function return!

[code]

[2020-01-08 17:33] ryanpeek opened #19 "add gageID/comid to plot_output filename"
Add some code to add the gageID to the filename for plot outputs. Currently it defaults to a metric/component and then "_" but nothing else (i.e., "DS_.png", "SP_.png"). Would help when dealing with multiple gages at once or iterating. I can mess with this later.

[2020-01-08 17:36] nickrsan commented on #19
Good idea - I think I'd even expand it to the plotting code taking a general name parameter that would end up being something like "gage_1111111" or "comid_111111111" since it could be triggered from code using either a gage or a DF+COMID. Then we could have whatever calling function pass that name through from whichever functions initiate it.

[2020-01-08 18:32] ryanpeek commented on #19
I like it...definitely would be a good approach and I like the consistency and availability of that naming convention across lots of things.

[2020-01-09 22:59] nickrsan opened #20 "Error: length of 'dimnames' [2] not equal to array extent"
From Slack

Ryan:
just found something weird…don’t have time to troubleshoot cuz boarding plane shortly but try this and explain why it’s breaking if you can?
[code]

[2020-01-09 23:02] nickrsan opened #21 "Plot outputs as facets, not all on same graph"
We should facet plot outputs so they can all appear in the same image by component, but don't need to have the same axes between metrics. Make sure to add code that frees the axis to have its own scale - its an argument to facet_wrap.

[2020-01-09 23:03] nickrsan opened #22 "Drop Peak_20 and Peak_50 metrics"
They aren't used, aren't shown on the website, and we don't have predicted metrics. They just confuse the Peak metrics.

[2020-01-09 23:06] nickrsan opened #23 "Data in wrong columns?"
Alyssa Obester
I think the observed data in the plot above might be mislabeled or be pulling something else. The observed two year flood shouldnt be larger than the 10 year flood. I'm looking at the FFC output for that data and the numbers are different (peak_10 is 20770, peak_20 is 16740, peak_50 is 7080)

Nick Santos
it should print out a table of the percentiles into the console when it's run -

[2020-01-09 23:31] nickrsan commented on #6
We can also make the convenience functions return an object for those that don't want to instantiate it directly - then they can use methods of the object to export data as CSVs, save plots, etc.

[2020-01-10 18:37] nickrsan opened #24 "Missing flow_metrics"
The flow metrics table is missing unless people use `library(ffcAPIClient)` beforehand, which makes this code unusable in other packages. Not huge, but we need to:

- [x] Expand the docs to include the call to `library`
- [x] See if we can figure out how to make that not required. Post to D-RUG was ignored, so maybe try a post to StackOverflow?

[2020-01-10 18:42] nickrsan opened #25 "Enable token storage so that people only have to set the token once"
Ryan has some code for using an environment to store tokens between sessions - that way people can set the token once and use it again later. Should be fine for this instance. Maybe make a parameter to store permanently or only for the session, that defaults to permanently.

[2020-01-10 18:50] nickrsan commented on #23
@alyssaobester I think I know what's going on here and it's kind of concerning for all peak metrics. It *looks* like they use 2/5/10/20/50 to mean the "2 year flood", "5 year flood", etc, rather than the way the rest of the group uses it (understandable given the nomenclature). So, I've been using 10/20/50, but I should have been using 2/5/10. Given the number of NAs, looks like the other metrics

[2020-01-10 18:55] alyssaobester commented on #23
Huh, okay. I didn't rename anything.

[2020-01-10 18:58] nickrsan commented on #23
OK, great - just uploaded a new version that renames all Peak metrics as if they're __-year flows rather than percentiles. Please use the new version for any additional testing!

Commit was 28d42d18c0d2e49b04124f2a7211949383063f4f

[2020-01-10 18:58] #23 closed, assigned to nickrsan

[2020-01-10 19:27] nickrsan opened #26 "Suppress Warnings for rbindlist"
I'm following documentation and what I'm doing shouldn't trigger a warning, but it does. So we'll suppress them just for that call in `convert_season_to_df` (I think it's that call - check whole file).

[2020-01-10 21:00] nickrsan commented on #23
Ended up renaming these one more time in the following commit because apparently the predicted metrics had old names too.  The flow metrics data are now updated and the names have all been aligned again.

[2020-01-10 21:01] nickrsan commented on #22
Completed in b96836bd71566eadba9aff690e247d06f2812d28

[2020-01-10 21:01] #22 closed, assigned to nickrsan

[2020-01-10 21:42] nickrsan opened #27 "Add function to assess level of alteration based on Ted's rules"
Ted will send sample code? Nick has images of some of the rules, but need a quick discussion of exactly which comparisons need to occur.

[2020-01-10 22:22] nickrsan commented on #24
@ryanpeek @alyssaobester FYI, I've resolved this issue - apparently to have the data be available internally and externally, I need to explicitly load the data into an environment within the package if I want to use it. Once I did that, it works in all contexts. No need to call `library(ffcAPIClient)` before using the code (though I'd be interested in your results!

Resolved in a0da53b421f374a6e16

[2020-01-10 22:22] #24 closed, assigned to nickrsan

[2020-01-10 22:57] nickrsan commented on #18
This was a duplicate of #24 - closing

[2020-01-10 22:57] #18 closed, assigned to nickrsan

[2020-01-10 23:11] nickrsan commented on #27
This is our top priority now

[2020-01-11 03:28] nickrsan opened #28 "Consider Bulk Processing Code"
Consider something to handle batching requests to the FFC online. Not sure what the inputs would look like though - maybe this is just a vignette or a sample rather than core code.

[2020-01-11 03:29] nickrsan opened #29 "Date standardization code"
The FFC requires dates in a specific format. We can standardize to that format for people if they provide us with the format their dates are currently in.

[2020-01-11 03:31] nickrsan opened #30 "Set up ability to send different params based on streamclass"
We may want to send different parameters to the FFC based on the streamclass

- [ ] Need to be able to get streamclass of COMID
- [ ] Need to check if it's a suspect streamclass (then what do we do?)
- [ ] Need to look up parameters for streamclass (via https://github.com/ceff-tech/eflow-client/blob/master/src/constants/params.js)
- [ ] Need to format those params to send to FFC.

[2020-01-14 01:17] ryanpeek opened #31 "add argument to turn off plotting in evaluate_alteration function"
just a note for batch processing, we probably need to turn off the plotting option. Default can be that plotting occurs, but should add argument for `plotting=FALSE` to allow just the data to get pulled in...and then maybe option to run plotting function separately? I can work on this but wanted to remember.

[2020-01-14 01:46] nickrsan commented on #31
Yeah, I think that makes sense - I think these two functions should remain as the core shortcut functions that go through the whole workflow, so being able to disable certain aspects while going through the rest makes sense so that the alternative isn't to basically recreate the function without that one thing. Noted!

[2020-01-14 01:47] nickrsan commented on #26
Sidestepped this by having to fix another unfiled issue where a whole list of NULL values would disappear. We forced everything to NAs and the warnings went away and the conversion behaves better.

[2020-01-14 01:47] #26 closed, assigned to nickrsan

[2020-01-14 01:48] nickrsan commented on #29
This is almost done and is in master already, but needs a few things:

- [ ] Needs to be documented
- [ ] Needs to be included in any additional workflows - it's really only accessible from `evaluate_alteration` right now

[2020-01-14 01:48] nickrsan commented on #30
This is now a high priority and needs to happen *before* we batch run all of the gages

[2020-01-14 01:50] nickrsan commented on #30
The rationale for the upgrade in priority is that the way the predicted metrics were constructed included running the FFC with the stream-class specific parameters. So, as a result, any improvements or error as a result of those params will be included in the predicted metrics. To have something comparable, we really need to be running the same way.

[2020-01-14 01:51] nickrsan commented on #31
I'm going to add the high priority label to this so that we can have it ready in time to do the next set of batching.

[2020-01-14 01:56] nickrsan opened #32 "Add warning when data frame has a high percentage of NA values"
We're occasionally encountering gages where most of the FFC results are NULL/NA. We should go through the processing pipeline but warn the user to inspect the data extra closely when a high proportion of the data frame is NA.

[2020-01-15 23:19] ryanpeek commented on #8
Looks like this issue may be fixed because of the `replace_na` bit

[2020-01-15 23:21] nickrsan commented on #8
Hah, I think I'd double filed this issue - thanks for pointing out that this is ready to close!

[2020-01-15 23:21] #8 closed, assigned to nobody

[2020-01-15 23:22] nickrsan commented on #26
Was duplicate of #8

[2020-01-15 23:24] ryanpeek opened #35 "returning warning and message or NA instead of "less than 10 years of data...try again""
`evaluate_gage_alteration()` (and associated functions) currently return an error with the message `"Less than 10 years of data...try again"` if the gage has insufficient data. This is helpful, but also can be an issue for batch processing as it is a stop error and thus requires the user to wrap code in some sort of error function (i.e., I'm using `possibly(get_percentiles, NA_real_)` but there's

[2020-01-15 23:26] nickrsan commented on #9
This sort of feels like the perpetual issue - I'm going to close it as an issue, but keep it on the development board. We have a few tests, but far from full coverage. We also have Travis set up now to automatically run tests and build docs.

[2020-01-15 23:26] #9 closed, assigned to nobody

[2020-01-15 23:33] nickrsan commented on #35
I think my preferred response to this would be a parameter that:

1. defaults to a stop error (or equivalent error level) still,
2. but can be switched to a warning + fill NA or even a warning + run data anyway

That way, people new to the package/process won't send data through and either think it's fine or just broken, but others can easily switch the behavior. Would something like this work for

[2020-01-15 23:35] nickrsan commented on #35
Also, I'd be fine with a PR that switches the current behavior to warn + fill as the default for now, then we could leave this issue open until I'm able to get the other behaviors in place (and I'd still use the PR code for warn and fill). Just wanted to not stand in your way if this is a big thing limiting your ability to use `evaluate_gage_alteration`.

[2020-01-15 23:48] ryanpeek commented on #35
I don't know...I also like the default to stop error...since it's important to know about and should be the default. That's partly why I'm not sure it's as big a deal to fix this function in particular if I can get batch processing to work with the other functions that go into this one. I sort of feel like ultimately I'd rather have the flexibility of batching a bunch of gages or comids and pullin

[2020-01-15 23:57] nickrsan commented on #35
OK, I think the FFCProcessor object could help a lot with this because it will save state, so it will know what has been run/what hasn't and be able to run only what's needed to provide results, even if you go to just retrieve a specific item. If you instantiated an FFCProcessor object for each gage, you'd then be able to call something like `get_percentiles`, and it will run everything it needs t

[2020-01-15 23:58] ryanpeek commented on #35
@nickrsan Sorry to squish this in here...it's a bit broader and maybe worth a longer conversation:

In some senses it would be nice to be able to use these three functions and get back a dataframe for each (some of these already do this):

- **`get_ffc_results_as_df()`** : would be nice to run this from the start (so feed the gage/comid instead of big results list
- **`get_ffc_percentiles()`**: co

[2020-01-16 00:12] nickrsan commented on #35
This feels fine for where to discuss! Sounds like you're suggesting a set of new shortcuts that handle specific portions of the workflow, but give you spots to intervene before moving to the next? That'd be fine by me - maybe we make a new `shortcuts.R` function that contains code that supports workflows rather than doing data manipulation itself?

Just to confirm, you're only referring to this wo

[2020-01-16 00:26] ryanpeek commented on #35
Yup, I think that makes sense. Maybe we specifically can write a
`batch_ffc.R` script that would take demonstrate how to step through and
return these pieces as dataframes (easier to bind lots together if pulling
same cols/colnames). Still need to make a few tweaks to make that possible,
but makes sense to me.

On Wed, Jan 15, 2020 at 4:12 PM Nick Santos <notifications@github.com>
wrote:

--

*"Wh

[2020-01-27 06:48] nickrsan commented on #31
Added to evaluate_gage_alteration in d09b8f00b16c8a2aded7f4e0089522110950f3ef, but still want to add it to evaluate_alteration to have a consistent API between the two.

[2020-01-27 06:50] nickrsan commented on #27
Completed in 6a9acc570c7f3e0a8de6af88521856d881bde498 - still needs more real-data tests, but should have those built early this week.

[2020-01-28 00:14] nickrsan opened #36 "Make family of functions that matches CEFF guidance"
Notes from our call today - I'll split these out into separate items soon, but wanted to file it immediately so it's visible.

- [x] add source column to observed percentiles
- [x] add comid or gage_id column to ffc_results df
- [ ] batch shortcut that returns a big dataframe with everything.
- [x] add assess_alteration to evaluate_alteration functions
- [ ] Add documentation for evaluate_alterati

[2020-02-05 07:46] nickrsan commented on #36
Going to build the 4 steps into the FFC processor class, make it underlie the `evaluate_timeseries_alteration` call, and then move some of the other subfunctions into the class as long as they aren't exported. It'll clean a few things up - most things don't need a separate low-level API without the class, so it should be safe to move them in. Check with Ryan about if he's using any of those other

[2020-02-05 07:56] nickrsan opened #37 "Make assess_alteration test data local"
Make a set of offline test data - we'll want it so the tests don't mysteriously break if the data changes in the future. Save the derived outputs as Rdata, then use those to run the tests.

[2020-02-07 23:37] nickrsan opened #40 "annual comparison notes"
The "annual" comparison for alteration needs some changes. Here is the discussion with Ryan:

Ryan  2:01 PM
Hey Nick just now trying to play around with getting the annual FFM alteration status to go. I have a question…because it’s unclear what/how the data should be entered currently. In the help, under the annual argument, the helps states it needs a TRUE/FALSE “indicating whether to run a year

[2020-02-13 00:54] nickrsan opened #42 "Return WYT percentiles"
Want all water year types by default returned

No need to calculate FFC by WYT - people can do that themselves by filtering to the correct water years.

We'll return the normal `predicted_percentiles` as we currently do, but also return `predicted_wyt_percentiles` separately. We'll need to slightly tweak the code that pulls it to return both.

[2020-02-13 19:50] nickrsan commented on #42
Not yet merged to master, but this was implemented in a45a68422fd5ec0de6dc6a5a90b27f3a36ae7a5d

[2020-02-13 19:50] #42 closed, assigned to nickrsan

[2020-02-19 22:09] alyssaobester opened #44 "add "Mag" in front of all peak magnitude metric names"
I think we talked about this, but just to make sure we don't forget, could we change the metric names so that the peak metrics have the word "Mag" in them? So for example, instead of Peak_10, it'd be Peak_Mag_10.

[2020-02-19 22:17] nickrsan commented on #44
Hey Alyssa,

I remember talking about this, but deciding against it because I thought the official names didn't include the Mag so we were keeping them matching the official names. Did those get changed to be more consistent, or were you thinking the package could be consistent even if it's different from the names used in CEFF?

[2020-02-19 22:23] alyssaobester commented on #44
The official names haven't been changed (as far as I know), but I was hoping that within the package they could be consistent, and then we could ask Ted about changing the names officially.

[2020-02-19 22:26] alyssaobester opened #45 "Add/store 'metrics reference' table in package"
It'd be nice if the package stored the [table ](https://docs.google.com/spreadsheets/d/1dgcjD0hsO95EDhR1oBbK-2mMw6971p6qKO5cVjss8-g/edit?usp=drive_web&ouid=103567740896328568047) that has the longer description of the metric names somewhere. While using the results from the package, I've found that I have to keep joining those metric names to the outputs afterward in order to make tables that are

[2020-02-19 22:28] nickrsan commented on #44
OK, I think we could do this, but I'd want to do it with some kind of setting or flag where the default is to leave the names matching whatever the approved names are, and the flag would toggle them to be internally consistent. That way, if anyone else uses the package, they won't be surprised at names they see as broken, even if they're better :). What would you think of that?

[2020-02-19 22:29] nickrsan commented on #44
To elaborate, I'm not even thinking of it being a parameter to any functions - i think I'd prefer it just be a setting people can change in the package globally - that way, if they change the names, we can rip that out without breaking anyone's code like we would if it was a parameter

[2020-02-19 22:31] alyssaobester commented on #44
That sounds good. We can also leave it as is!

[2020-02-19 22:40] nickrsan opened #46 "Include number of observations as output in observed percentiles table"
Ted wanted to know the number of observations for each metric that led to the calculated percentiles. These are different than the number of data available since it depends on the calculations coming out of the FFC. This should be relatively trivial to add into the percentile calculation code, but we'd then need to make sure to drop it anywhere else where we don't need it, but need to merge with t

[2020-02-20 23:08] nickrsan opened #47 "Change Use of "DRH" to "Dimensonless Hydrograph" or similar"
Alyssa Obester  2:51 PM
just got clarification on DOHs vs DRHs. DOHs are dimensionless hydrographs for the observed data (so what you currently have the package doing), and a DRH is a dimensionless hydrograph for the reference gages
2:52
I guess we just need to be more consistent about how we refer to the DOHs/DRHs/DHs

Nick Santos:all_the_things:  3:06 PM
oh, interesting, so I guess we should pro

[2020-02-21 21:47] nickrsan commented on #11
Completed in ea3b667940be026353d0a69f2a91688426374a0a

[2020-02-21 21:47] #11 closed, assigned to nickrsan

[2020-02-21 21:48] nickrsan commented on #14
This was completed long ago because it was *very* necessary

[2020-02-21 21:48] #14 closed, assigned to nickrsan

[2020-02-21 21:48] nickrsan commented on #12
We changed how we get NHD information entirely and no longer have this issue

[2020-02-21 21:48] #12 closed, assigned to nickrsan, ryanpeek

[2020-02-21 21:49] nickrsan commented on #19
The COMID is now on the plots, but the gage ID isn't yet - should be a simple bit of logic to add, I think

[2020-02-21 21:56] nickrsan commented on #19
I added the Gage ID - I'm going to leave this open so that in the future we can implement the "name" approach

[2020-02-21 21:57] nickrsan commented on #21
Completed in ea3b667940be026353d0a69f2a91688426374a0a

[2020-02-21 21:57] #21 closed, assigned to nickrsan

[2020-02-21 21:58] nickrsan commented on #3
Switched the quantile method a while back bsed on feedback from Ted, so checking that off. Leaving this open so we confirm that we check the number of years processed at some future date.

[2020-02-21 22:02] #2 closed, assigned to nickrsan

[2020-02-26 18:01] alyssaobester opened #48 "Make sure spring duration component observed vs predicted plot on same plot"
Looks like the spring duration component plots observed and predicted values are on different plots

![image](https://user-images.githubusercontent.com/28309135/75373353-010de480-587f-11ea-95b4-207caa43f50e.png)

[2020-02-26 18:14] nickrsan commented on #48
Nice catch - looks like TNC's API gives a bad name for that metric. I'll file an issue with them and also see about correcting it within the pacakge in the meantime.

[2020-03-04 18:45] kristaniguchi opened #49 "Boxplots for predicted FA_Dur, SP_ROC, all Peak_Dur, all Peak_Fre are split into two"
Boxplots for predicted FA_Dur, SP_ROC, all Peak_Dur, all Peak_Fre are split into two. Please plot only one boxplot for those predicted metrics
![Peak_Fre](https://user-images.githubusercontent.com/10887520/75912631-607f6d80-5e06-11ea-87f0-dd183491acf1.png)

[2020-03-04 18:49] kristaniguchi opened #50 "Do not plot Peak_Tim metrics boxplots"
Peak timing metrics are no longer included as functional flow metrics.  Do not create boxplots for them.

[2020-03-04 19:03] kristaniguchi opened #51 "For evaluate_alteration() only output FFMs for ffc_results and ffc_percentiles"
For evaluate_alteration() only output FFMs for ffc_results and ffc_percentiles.  Currently, function outputs additional metrics (for example, julian day metrics and peak timing metrics).   Can you also sort output tables by metric alphabetically?  That way user can have direct comparison of predicted vs observed metrics/percentiles.

[2020-03-04 19:08] kristaniguchi opened #52 "Create function to create dimensionless observed hydrograph from observed gage or model data"
Step 5 of CEFF: assess alteration asks the user to compare DRHs to dimensionless observed hydrograph. It would be great to have a function that plots DOH from observed flow timerseries as in Figure 9 of CEFF comparing DRH from reference gage (left) to DOH (right).
![image](https://user-images.githubusercontent.com/10887520/75913834-8443b300-5e08-11ea-85a5-7c89fe799a09.png)

[2020-03-04 19:24] nickrsan commented on #52
Hey Kris,

Thanks for filing all of these - your use of the package and feedback keeps improving this! For this one, I like the idea, but I'm not sure how we'd do it reliably in practice. The thing we're missing is something that maps COMIDs to their reference gages so we could pull the DRH. If we had that, we could do it, but I'm reluctant to develop it myself. Do you know if that information exi

[2020-03-04 19:25] nickrsan commented on #51
Awesome - this makes sense all around - I'd thought the extra metrics weren't being returned (sorry to @ryanpeek who has been dealing with this too!). I think it makes sense to drop them from the output when `evaluate_alteration` or `evaluate_gage_alteration` are used.

[2020-03-04 19:25] nickrsan commented on #50
Just acknowledging this one - I'll drop those metrics.

[2020-03-04 19:27] nickrsan commented on #49
Huh - I haven't seen this behavior - I see the COMID you used there, but am not sure if this is a gage, or using your own timeseries - was this when using the data/code you sent me previously, or something else? Just wondering so I can reproduce it and figure out where the bug is.

[2020-03-04 19:58] ryanpeek commented on #52
in theory this wouldn't be too terrible to implement...similar to the lookup table we used for the "reference gages". But currently we don't have this...and just to be clear, this could be *any* COMID, not one specifically in the location of a reference gage? We'd need to use a reference gage dataset and then join all comid's to nearest reference gage (not too hard but would take a little bit of c

[2020-03-04 20:09] nickrsan commented on #52
Yeah, I was thinking we'd need it for *any* comid. It just feels like there might be per-hydrogeologic stream class type considerations with how we join COMIDs to their reference gage. As in, do we do nearest while looking within the same HUC8 drainage network first, then nearest outside of that if it doesn't exist? Closest distance along the stream network? I might be overthinking it though

[2020-03-04 20:22] kristaniguchi commented on #49
Yes, using the code i sent you and my own gage data for observed ffcAPIClient::evaluate_alteration()

[2020-03-04 20:22] kristaniguchi commented on #50
Thanks!

[2020-03-04 20:27] kristaniguchi commented on #52
Let me clarify, if the user has their own gage data can we produce this plot? Take uploaded discharge timeseries divide by mean annual flow to non-dimensionalize it and for every water year date calc 10th, 25th, 50th, 75th, 90th percentiles.  Use these percentiles to create DOH plot.  Would that be doable?  I don't think it would be necessary to try to do this for every COMID

[2020-03-04 20:28] kristaniguchi commented on #52
User can compare their DOH with DRH from stream class that is automatically generated or from ref gage that they have timeseries data from

[2020-03-04 20:36] kristaniguchi commented on #48
This also applies to the evaluate_alteration function

[2020-03-05 21:24] kklausmeyer opened #53 "Add full metric name and units to plots for easy interpretation"
The box plots are very helpful, but a little hard to interpret and share with stakeholders.  Consider changing the name from the flow metric code to the flow metric name (e.g., "Fall Pulse Magnitude" instead of "FA_Mag").  Also, please consider adding the units for each plot (e.g, "Cubic Feet per Second" or "Water Year Day") to the y-axis of each plot.  I have attached a file that provides the nam

[2020-03-05 21:30] nickrsan commented on #53
Awesome - thanks Kirk! Good ideas. While you're here, can I point you to this issue https://github.com/ceff-tech/ffc_api_client/issues/48 - the Spring Duration component coming out of your API is being labeled SP_Du instead of SP_Dur - I've been meaning to get in touch about it.

[2020-03-05 21:35] kklausmeyer opened #54 "Create results dataframe that allows for annual alteration assessment for each metric"
One of our project managers in the Shasta asked me if I could determine if flow alteration was better after 2009 when they started a fall flow program.  I think this will be a common request as people want to be able to track the results of their actions.  I am envisioning a new dataframe with the following fields:
COMID
Gage_ID
Year
Functional Flow Metric Code
Observed Value
Water Year Type (spec

[2020-03-05 21:36] kklausmeyer commented on #53
Great!  Thanks so much for putting this together.  I was able to get it running on my computer and the results make sense.  I'll pass on the naming issue to our developer Falk to see if he can update the API.

[2020-03-05 21:46] kklausmeyer commented on #48
Thanks for flagging this-  I'm trying to replicate the API call that is generating the "SU_Du" name.  When I call "
https://flow-api.codefornature.org/v2/ffm/?comids=14993177&ffms=sp_dur" I get the ffm value as "sp_dur".

When I call
"https://flow-api.codefornature.org/v2/ffm/?comids=14993177&ffms=sp_du" I get an empty table.  @nickrsan  can you indicate the api call that is returning the incorrec

[2020-03-06 00:49] nickrsan commented on #48
Dang it - I thought I'd tested this straight out of the API and it was an issue there, but I couldn't find the error and just traced it to a transformation in the package code and not the API. Sorry to waste your time (and sorry for the wait Alyssa and Kris)! Thanks for looking into it.

[2020-03-06 00:50] nickrsan commented on #48
Resolved in 3a5251a8087eab55f0deafee6cee1ec969d73eca. Kris and Alyssa, this should be fixed if you reinstall the package.

[2020-03-06 00:50] #48 closed, assigned to nickrsan

[2020-03-11 21:23] nickrsan commented on #49
OK, traced this problem to a data issue from the flows API related to the predicted flow metrics producing duplicate values. I'm going to have it deduplicate, but it's not an exact process because sometimes the values are different.

[2020-03-11 21:24] nickrsan commented on #49
As an addendum, this probably only showed up recently because we used to use internal data that we'd deduplicated, but we switched to the flow API about a month ago. I'm in touch with Kirk about it too in case they want to address it themselves - I reported it to Ted last year.

[2020-03-11 21:42] nickrsan commented on #49
OK, resolved this issue in commit a7fd8671fe28af1fded1d0dc390c00c330da8b6b

Kris, whenever you get a chance, can you upgrade and let me know if you encounter this issue or any new errors? I'm closing it for now, but please reopen it if a related bug still exists.

[2020-03-11 21:42] #49 closed, assigned to nickrsan

[2020-03-13 02:18] nickrsan commented on #51
OK, this should be addressed in the newest version 0.9.6.5. Please give it a test and let me know if it does what you wanted! Both the ffc_results and ffc_percentiles should no longer have the non-metrics that start with __ or the ones that end in _Julian. @ryanpeek just FYI too.

Commit that closed it was 4c4974dc259f11375519ac4a1f97dc450fb9d637

[2020-03-13 02:18] #51 closed, assigned to nickrsan

[2020-03-13 19:47] nickrsan commented on #50
Hey @alyssaobester and @ryanpeek before I drop these metrics, can you confirm that you don't have a use case for them where I should make it an option to include or not include them in plotting?

Also, should they be dropped completely (ie, not in the data frames either) and not just from plotting?

[2020-03-13 22:05] ryanpeek commented on #50
This is fine by me. I don't think they would be needed in the dataframe either, but fairly easy to remove after downloading as well.

[2020-03-13 22:48] #44 closed, assigned to nobody

[2020-03-13 22:50] nickrsan commented on #44
Hey Alyssa,

I just added some new functionality. It defaults to leaving things alone, but if you call `ffcAPIClient::force_consistent_names(TRUE)` before calling any of the functions that process data, it'll return names like `Peak_Mag_2` instead of `Peak_2`. If you turn it on and want to turn it back off, run `ffcAPIClient::force_consistent_names(FALSE)`. This function is in the documentation as

[2020-03-20 17:18] kristaniguchi commented on #49
Thanks, Nick!  Works great.

Kris

--
Kris Taniguchi-Quan, PhD
Scientist
Southern California Coastal Water Research Project
3535 Harbor Blvd, Suite 110<https://maps.google.com/?q=3535+Harbor+Blvd,+Suite+110+%0D%0A+Costa+Mesa,+CA+92626+%0D%0A+Office:+(714&entry=gmail&source=g>
Costa Mesa, CA 92626<https://maps.google.com/?q=3535+Harbor+Blvd,+Suite+110+%0D%0A+Costa+Mesa,+CA+92626+%0D%0A+Office:+(714

[2020-04-13 04:14] kristaniguchi opened #55 "FA_Dur missing from reference percentiles WYT"
When using evaluate_alteration() with user uploaded timeseries, the reference percentiles by WYT dataframe is missing FA_Dur

[2020-04-22 23:43] kristaniguchi opened #56 "evaluate_alteration(), evaluate_gage_alteration(), and get_predicted_flow_metrics() not working"
Hi Nick, last week these functions (evaluate_alteration(), evaluate_gage_alteration(), and get_predicted_flow_metrics()) were working fine.  Now they no longer work (with same data/script) and give the following error after saving the DRH step:
[1] "Saving DRH to..."
Error in rbind(deparse.level, ...) :
  numbers of columns of arguments do not match

I uninstalled and reinstalled the ffc api but s

[2020-04-23 00:08] kklausmeyer commented on #56
Hi all-  we updated the functional flow API to include three new fields-  this may be causing an error in the get_predicted_flow_metrics() code.  To see the new schema with observed data added, use this URL for an example:  https://flow-api.codefornature.org/v2/ffm/?comids=15048349

[2020-04-23 00:11] nickrsan commented on #56
Thanks Kirk - I was wondering if something changed in one of the APIs given the error here - I appreciate you chiming in here so quickly (and I know I owe you some email responses too!).

Kris, I'm readying some other changes to help make the package nicer for CEFF users, so I'll make the appropriate changes to fix this and include them in an update and let you know here once that's done today or

[2020-04-23 00:20] nickrsan opened #57 "Continuation of Package Development"
@ryanpeek @alyssaobester @kklausmeyer, @kristaniguchi

I'm leaving CWS on April 30th and won't be able to officially support the package beyond that. While I will always be happy to provide any handoff information I can, I'm trying to make sure that if this becomes a tool that's important for any CEFF users, that there are people who can make bugfixes, and potentially even enhancements. I know Rya

[2020-04-23 00:37] kristaniguchi commented on #56
Sounds good! Thanks, Kirk and Nick!

[2020-04-23 02:18] kristaniguchi commented on #57
@nickrsan thank you so much for your work on all of this!  You have done a fantastic job and I appreciate all of the time you've spend on updates and maintenance.  I unfortunately don't have the capacity to take on maintaining the package, but I could talk with Eric and others to see what the best path moving forward would be.  Thanks and I'll get back to you soon

[2020-04-23 05:40] ryanpeek commented on #57
@nickrsan Thanks for all the work you've put into this! I can definitely try to help out, but odds are I'm not going to be super flexible in dealing with things on a rapid timescale. I'd also say my skillset for some of the codebase may not be ideal, so would be good to have some additional programming power. :) I'll keep an eye on things, and help out where I can, but it would be good to have som

[2020-04-23 20:33] nickrsan commented on #56
Hi Kris,

I believe I incorporated the required fixes in the latest commit, along with other code. Please try again. I'm going to close this issue, but please reopen it if you still have problems.

The fix was included in f18833d72b70ad514ecaf054c2fc6184922cc286

[2020-04-23 20:33] #56 closed, assigned to nickrsan

[2020-04-23 20:37] nickrsan commented on #36
Some progress on this issues in f18833d72b70ad514ecaf054c2fc6184922cc286 - incorporates the first step of CEFF process. Example code:

[code]

Considering making a shortcut function for it.

[2020-04-24 16:11] kristaniguchi commented on #56
Thanks, Nick!  Really appreciate all you’ve done for CEFF 😊 Good like at UC Merced!

Kris

--
Kris Taniguchi-Quan, PhD
Scientist
Southern California Coastal Water Research Project
3535 Harbor Blvd, Suite 110<https://maps.google.com/?q=3535+Harbor+Blvd,+Suite+110+%0D%0A+Costa+Mesa,+CA+92626+%0D%0A+Office:+(714&entry=gmail&source=g>
Costa Mesa, CA 92626<https://maps.google.com/?q=3535+Harbor+Blvd,+S

[2020-04-24 22:42] kklausmeyer commented on #57
Hi all-  I spoke with our developer Falk (@postfalk) and he is willing to help out on maintaining this project with @ryanpeek .  Thanks @nickrsan for all your work on this!

[2020-04-24 22:46] postfalk commented on #57
So the best way forward would be to create a new repo and leave the old one (archived) in place (to assure that we don't break other peoples bootstrap pipelines). We could add a line, that the project moved to a new location underneath the title line. I have to look into it how to make sure that everything, e.g. issues work.

If breaking other peoples workflows is less of a concern we could just t

[2020-04-27 23:52] nickrsan commented on #57
Hi @postfalk and @kklausmeyer thanks for your willingness to be a part of this! I should clarify - we'd like to keep the repository here since it's a central spot for code related to the CEFF process, and also Ryan and I may still be able to work on it, but can't guarantee we'll be able to make fixes or enhancements in reasonable timeframes. We've been wanting to expand the pool of developers on t

[2020-04-27 23:55] postfalk commented on #57
So in short, you will remain the maintainer. That is ok with me. Falk

________________________________
From: Nick Santos <notifications@github.com>
Sent: Monday, April 27, 2020 4:52 PM
To: ceff-tech/ffc_api_client <ffc_api_client@noreply.github.com>
Cc: Falk Schuetzenmeister <falk.schuetzenmeister@TNC.ORG>; Mention <mention@noreply.github.com>
Subject: Re: [ceff-tech/ffc_api_client] Continuation

[2020-04-28 00:27] annieholt opened #58 "evaluate_alteration() does not work for certain COMIDs"
I get the following error message for several of the COMIDs where stream gages are located, using the attached timeseries data (also for COMIDs 17608051 and 17611425 for example)

[flowdata_COMID17574729.txt](https://github.com/ceff-tech/ffc_api_client/files/4542697/flowdata_COMID17574729.txt)

 test_results <- ffcAPIClient::evaluate_alteration(timeseries_df = test_df , token = get_token(), latitu

[2020-05-06 18:55] nickrsan commented on #36
[code]

[2020-05-06 19:05] nickrsan commented on #36
@alyssaobester See above for a full example output, including messages it gives the user. Here's a bit of just how to use it.
[code]
That command will output DOH data + image, observed annual data, observed percentiles, and observed plots to the specified folder. It will output the percentiles to the console as well.

It also makes that data available for further analysis on the object `ffc`, so y

[2020-05-06 19:06] nickrsan commented on #36
The code here was just pushed earlier - it *shouldn't* interfere with any of the other code (very few changes outside of these functions), but let me know if you have any issues after reinstalling the package.

[2020-05-06 19:58] nickrsan commented on #36
OK, I adapted the documentation I wrote on this above as the beginnings of a vignette in the package documentation too: https://ceff-tech.github.io/ffc_api_client/articles/ceff-steps.html

[2020-05-08 22:38] nickrsan opened #59 "Error message and sanity checking improvements"
@alyssaobester 1:15 PM
the package is working for me on some gages and not others. any ideas as to why?

Nick Santos 2:47
can you send me some of the working and some of the not working gage ids?

Alyssa Obester  2:49 PM
okay, thanks
2:51
this seem to be working:
USGS gage: 11445500, SF American River near Lotus
COMID: 14982092
and if I manually provide flow data for a COMID on the Middle Fork Ame

[2020-05-08 23:37] nickrsan commented on #59
Test these gages:
[code]

[2020-10-08 20:34] kristaniguchi commented on #59
Hi, did anyone resolve this issue:
Error in if (median >= predictions[["p10"]] && median <= predictions[["p90"]]) { :
  missing value where TRUE/FALSE needed

I'm getting this error for multiple modeled timeseries and am working in a pretty flashy regime.

[2020-10-12 17:37] kklausmeyer opened #60 "Installation documentation not complete"
I am a new R user and I have a new computer, so I'm installing this for the first time on this machine.  I hit two bumps that were not mentioned in the documentation:
1. In order to install the ffcAPIClient, I got a warning that I had not installed RTools yet, however, it went forward with installing some packages, so it was confusion.  Consider adding RTools as a pre-requirement for installation

[2020-10-13 20:02] nickrsan commented on #59
Hi Kris,

Nobody has resolved this as far as I know, but it does seem like it should be a high priority fix since it's going to impact usage of lots of gages in SoCal, I think. I'm going to listen in one the call today as well, in case discussion talks about the package at all.

[2020-10-13 20:10] kristaniguchi commented on #59
Hi Nick,

We figured out that this was from having NULL values in the ref p10 percentiles for dry season baseflow in rivers.codefornature.org.  Kirk is going to update the ref FFM predictions database from his end and replace NULL with zero.  Apparently some of Ted’s model predictions were negative, and when they tried to round to 0 it gave them NULL in some instances.  This should be a quick fix.

[2020-10-13 20:17] nickrsan commented on #59
OK, thanks for the update - that's good to know and makes sense. I'll still leave this open so we can add some tests in this package that ensure that code is correctly run for these gages that can flag any similar problems in the future if something changes. Thanks!

[2020-10-13 20:18] kristaniguchi commented on #59
Sounds good! Thanks, Nick.

Kris

--
Kris Taniguchi-Quan, PhD
Scientist
Southern California Coastal Water Research Project
3535 Harbor Blvd, Suite 110<https://maps.google.com/?q=3535+Harbor+Blvd,+Suite+110+%0D%0A+Costa+Mesa,+CA+92626+%0D%0A+Office:+(714&entry=gmail&source=g>
Costa Mesa, CA 92626<https://maps.google.com/?q=3535+Harbor+Blvd,+Suite+110+%0D%0A+Costa+Mesa,+CA+92626+%0D%0A+Office:+(714&

[2020-10-13 20:22] nickrsan commented on #60
Hi Kirk,

Thanks for the notes. RTools is not required for installation of these packages since we don't need C/C++ code built and R will download the binary versions of other packages. I've been trying to keep the list of steps as short as possible, so I'll probably add a note for people that they may get a warning about installing RTools, but they don't need to do so for this package in order to

[2020-10-13 21:07] nickrsan opened #61 "Clip input data to water years"
Bronwyn noted that the FFC online is pretty sensitive to partial years of data and it can alter the output results. We should clip the data to complete water years by default, with maybe a flag to avoid that for people who might have a need.

[2020-10-13 23:38] kklausmeyer commented on #60
Hi Nick-  thank you for the quick reply.  I'm using

- Windows 10 Pro version 1909,

- RStudio, Version 1.3.1093

- R version 4.0.3 (2020-10-10)

I'm not sure how to check my devtools version, but I just installed it yesterday, so I assume it is the most recent version.

[2020-11-17 19:02] ryanpeek opened #63 "add default directory for output_folder in step_one"
currently if output_folder isn't set by user, `step_one_functional_flow_results()` will fail with this error:

[code]

Will add a PR to address this so it defaults to working directory instead of failing, something like:

`step_one_functional_flow_results( output_folder=".")`

[2021-06-24 17:13] kristaniguchi opened #67 "Missing predicted metric data and stream class: 20348571"
2 warning messages for COMID 20348571: missing predicted metrics and couldn't find stream class for that COMID

[2021-06-24 17:38] kristaniguchi commented on #67
Also for: 20348223, 20348289, 20348739

[2022-04-11 20:54] alyssaobester opened #72 "Packing pulling observed rathern than inferred data for non-referenge gaged reaches"
When you use the package to pull flow metrics for a non-reference gage (i.e., the purple reaches on the NFD), the function that pulls the metrics removes any inferred (modeled) flow metric values and retains observed values. This means that instead of showing the modeled natural ranges, it’s actually providing the altered flow metric ranges. The package does give you a warning message when this oc

[2022-04-12 16:24] nickrsan commented on #72
Ryan and I discussed this yesterday, copying discussion here:

Ryan Peek:
Would this be a pretty quick fix? I can probably take a deeper look this week, but thought you might have a quick thought. I asked for Alyssa to file an issue so we can track this.

Nick Santos:
Yeah - basically, right now, it just runs a deduplicate operation on the table, then checks if it has fewer records than before it